<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta charset="UTF-8">
	<title>{{ page.title }}</title>
	<!-- META TAGS -->
	<meta name="keywords" content="Front end, Desenvolvimento web">
	<meta name="description" content="Apaixonado por projetos open source, gosto de compartilhar conhecimentos e aprender algo novo sempre.">
	<meta name="author"  href="https://twitter.com/amenezesw" content="Anderson Menezes">
	<!-- META TAGS -->
	<!-- META TAGS FACEBOOK -->
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    {% if page.image %}
    <meta property="og:image" content="{{ site.url }}{{page.image }}">
    {% else %}
    <meta property="og:image" content="{{ "/assets/imagem/blog-image.png" | prepend: site.baseurl | prepend: site.url }}">
    {% endif %}
    <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:site_name" content="{{ site.title }}">
    <!-- CLOSED META TAGS FACEBOOK -->
	<!-- META TAGS TWITTER -->
	<meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@amenezesw">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    {% if page.image %}
    <meta property="twitter:image:src" content="{{ site.url }}{{page.image }}">
    {% else %}
    <meta property="twitter:image:src" content="{{ "/assets/imagem/blog-image.png" | prepend: site.baseurl | prepend: site.url }}">
    {% endif %}
    <!-- CLOSED META TAGS TWITTER -->
	<!-- META TAGS GOOGLE PLUS -->
	<meta itemprop="name" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
    <meta itemprop="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta itemprop="image" content="{{ "/assets/imagem/blog-image.png" | prepend: site.baseurl | prepend: site.url }}"/>
    <!-- CLOSED META TAGS GOOGLE PLUS -->
	<!-- STYLESHEET -->
	<link rel="stylesheet" href="/assets/css/main.css">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>
	<!-- CLOSED STYLESHEET -->
	<!-- FAVICON -->
	<link rel="shortcut icon" href="/assets/imagem/favicon.ico" type="image/x-icon">
	<!-- CLOSED FAVICON -->
</head>