<header class="header">
	<section class="my-photo"></section>
	<div class="align-header">
		<h1 class="logo">
			<a href="/">Anderson Menezes<span>Developer Front end</span></a>
		</h1>
		<section class="about">
			<p>Olá! Eu sou Anderson. Desenvolvedor front end. Apaixonado por projetos open source,gosto de compartilhar conhecimentos e aprender algo novo sempre.</p>
		</section>
		<section class="social">
			<li>
				<a href="https://twitter.com/amenezesw" target="_blank"><i class="twitter-icon fa fa-twitter fa-2x"></i></a>
			</li>
			<li>
				<a href="https://www.facebook.com/AndersonMenezesw" target="_blank"><i class="facebook-icon fa fa-facebook fa-2x"></i></a>
			</li>
			<li>
				<a href="https://plus.google.com/+AndersonMenezes" target="_blank"><i class="google-plus-icon fa fa-google-plus fa-2x"></i></a>
			</li>
			<li>
				<a href="https://br.linkedin.com/in/andersonweb" target="_blank"><i class="linkedin-icon fa fa-linkedin fa-2x"></i></a>
			</li>
			<li>
				<a href="https://github.com/andersonweb" target="_blank"><i class="github-icon fa fa-github-square fa-2x"></i></a>
			</li>
		</section>
	</div>
</header>