<div class="center">
    <section class="share">
<h2 class="title-features">Espalhe por ai...</h2>
    <div class="element">
    <div class="group facebook-share">
      <div class="count facebook-count"></div>
      <i class="fa fa-caret-down"></i>
      <button class="fb"><i class="fa fa-facebook"></i> facebook</button>
    </div>
    <div class="group gplus-share">
      <div class="count gplus-count"></div>
      <i class="fa fa-caret-down"></i>
      <button class="gp"><i class="fa fa-google-plus"></i> google-plus</button>
    </div>
    <div class="group linkedin-share">
      <div class="count linkedin-count"></div>
      <i class="fa fa-caret-down"></i>
      <button class="linkedin"><i class="fa fa-linkedin"></i> linkedin</button>
    </div>
    <div class="group twitter-share">
      <div class="count twitter-count"></div>
      <i class="fa fa-caret-down"></i>
      <button class="twitter"><i class="fa fa-twitter"></i> twitter</button>
    </div>
  </div>
</section>
</div>