.header{
	width: 23%;
	min-height: 100%;
	position: fixed;
	background: $color-background-header;
	float: right;
}
.my-photo{
	width: 215px;
	height: 215px;
	border-radius: 50%;
	background: url(/assets/imagem/my-photo.jpg)no-repeat;
	background-size: cover;
	position: relative;
	margin: 40px 40px;
}
.logo{
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	text-align: center;
	padding-bottom: 6px;
	transition: all 0.5s ease-out;
	&:hover{
		border-top: 1px solid $color-logo;
		border-bottom: 1px solid $color-logo;
	}
}
.logo a{
	transition: all 0.5s ease-out;	
	color: $color-logo - 10;
	font-family: 'PoetsenOne';
	font-size: 30px;
	font-weight: 400;
	&:hover{color:$background-main}
	span {
		font-size: 20px;
		display: block;
	}
}
.align-header{
	margin: 0 15px;
}
.about{
	border-top: 1px solid $color-background-header + 20;
	border-bottom: 1px solid $color-background-header + 20;
	margin-top: 30px;
	color: $color-text-header;
	font-family: 'Open Sans', sans-serif;
	p{
		margin: 8px 6px;
	}
}
.header-post-external{
	width: 100%;
	height: 670px;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
	position: relative;

	&:hover{
		content: '';
		display: inline-block;
		height: 670px;
		vertical-align: middle;
	}
}
.social{
	margin-top: 25px;

	li{
		list-style: none;
		margin-left: 4px;
		float: left;
		display: table;
	}
	i{
		display: table-cell;
	    vertical-align: middle
	}
}
%default-social{
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 50%;
	color: #D6D6D6;
	vertical-align: middle;
	background: #111111;
}
.facebook-icon{
	@extend %default-social;
	&:hover{background: #425F9C;}
}
.twitter-icon{
	@extend %default-social;
	&:hover{background: #0084B4;}
}
.google-plus-icon{
	@extend %default-social;
	&:hover{background: #CF4332;}
}
.linkedin-icon{
	@extend %default-social;
	&:hover{background: #0097BD;}
}
.github-icon{
	@extend %default-social;
	&:hover{background: #181818 - 20;}
}
// Bar
.bar{
	width: 60px;
	height: 60px;
	//background: $color-background-header;
	height: 60px;
	position: fixed;
	top: 20px;
	left: 20px;

	.fa{color: $color-logo;}
}
