/* 
##########################################################################################
								MAIN HOME PAGE 		
##########################################################################################
*/
.main {
	float: right;
	width: round(percentage(820 / 1060));
}
.introduction {
	width: round(percentage(1200 / 1350));
	margin: 50px auto 0 auto;
	text-align: center;

	h1,p,a{font-family: $font-secondary;}
	
	h1 {
		padding: 20px;
		margin-bottom: 30px;
		color: $color-link-menu-link;
		font-size: 38px;
	}

	p {
		font-size: 26px;
		line-height: 50px;
		text-align: justify;
	}

	a { color: $color-logo - 100;}
}
/* 
##########################################################################################
								MAIN BLOG POST EXTERNO 		
##########################################################################################
*/
.post-blog-external{
	@extend .post-blog;

	p{
		margin-top: 10px;
		font-size: 20px;
		line-height: 30px;
		font-family: $font-primary;
	}

	a{color:$header-color; font-weight: bold;}
}
