.edit{
	margin: 50px 0 0 0;
	display: table;
	
    a{
		padding: 10px 7px;
		background: $color-background-header;
		color: $background-main;		
	}

	i,a{vertical-align: middle;}
}
// Share
.element .group{
    float: left;
    cursor:pointer;
    margin: 0 58px;
    font-size: 28px;
}
.element button{
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 2px;
    cursor: inherit;
    border:0;
    color:#ffffff;
    width: 150px;
    outline: 0;
    font-family: inherit;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}
// Style button share
.fb{background-color: #306199;}
.fb:hover{background-color: #244872;}
.gp{background-color: #e93f2e;}
.gp:hover{background-color: #ce2616;}
.linkedin{background-color: #007bb6;}
.linkedin:hover{background-color: #005983;}
.twitter{background-color: #26c4f1;}
.twitter:hover{background-color: #0eaad6;}

// Continue lendo
.read-me {
  display: inline-block;
  background: $color-logo;
  padding: 5px;
  color: #d6d6d6;
  margin-top: 15px;

  &:hover{background: $color-background-header}
}