.social-home {
	width: 500px;
	background: red;
	margin: 50px auto 0 auto;

	li{
		float: left;
		text-indent: -9999px;
		margin: 10px;
	}

	a{
		width: 70px;
		height: 70px;
		-webkit-background-size: 70px;
		display: block;
	}
}
.social-home li{
}
$icons: facebook,googleplus,instagram,twitter,youtube; 
@each $social in $icons{
	.#{$social}-icon {
		background: url('/assets/imagem/#{$social}-icon.png') no-repeat;
		transition: all 400ms ease;
		&:hover {
			margin-top: 30px;
		}
	}
}

.projects {
	width: round(percentage(1350 / 1400));
	margin: 0 auto;
	float: right;

	li {
		width: 300px;
		height: auto;
		float: left;
		margin: 50px 30px 0 0 ;
	}

	img {width: 300px; height:280px;}
}
.projects-description{
	text-align: justify;
	padding: 10px 0 ;
	margin-left: 5px;
	font-style: italic;
	display: block;
	height: 60px;
}
.title-box {
	margin: 10px 5px;
	color: $header-color;
}