/* 
##########################################################################################
								ICONES SOCIAL HOME PAGE		
##########################################################################################
*/
.social-home {
	width: 500px;
	margin: 50px auto 0 auto;
	li{
		float: left;
		padding-left: 10px;
	}

	i{
		color: $header-color;
		transition: 1.5s ;
		
		&:hover{
			color: $header-color - 100; 
		}
	}
}
/* 
##########################################################################################
								PROJETOS		
##########################################################################################
*/
.projects {
	width: round(percentage(1350 / 1400));
	margin: 0 auto;
	float: right;

	li {
		width: 300px;
		height: auto;
		float: left;
		margin: 50px 30px 0 0 ;
	}

	img {width: 300px; height:280px;}
}
.projects-description{
	text-align: justify;
	padding: 10px 0 ;
	margin-left: 5px;
	font-style: italic;
	display: block;
	height: 60px;
}
.projects-title {
	margin: 10px 5px;
	color: $header-color;
}


