.post {
	width: 750px;
	margin: 0 auto;
	height: 600px;
	border-bottom: 4px double $background-main - 20;
	margin-top: 40px;
}

.post-title{
	color: $color-logo;
	font-size: 28px;
	a{
		color: $color-logo;
		font-size: 28px;
		
		&:hover{
		color: $color-background-header;
		}	
	}
}
.post-date {
	font-size: 18px;
	color: $color-background-header;
	margin: 10px 0 6px 0;
	display: block;
}
.post-image{
	width: 750px;
	height: 280px;
	overflow: hidden;
	background-size: cover;
}
.post-description{
	margin: 13px;
	font-size: 18px;
	text-align: left;
	font-style: italic;	
}
.read-me{
	display: inline-block;
	background: $color-logo;
	padding: 5px;
	color: #d6d6d6;
	margin-top: 15px;

	&:hover{background: $color-background-header}
}

// Página de post externa.
.page-post{
	width: 850px;
	margin: 0 auto;
}
.center{
	width: 960px;
	margin: 0 auto;
}
.align-po-ex{
	width: 960px;
	margin: 0 auto;
	position: absolute;
	left: 50%;
	margin-left: -480px;
	height: 100%;
	display: table;
}
.image-po-ex{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-size: cover;
	position: relative;
	z-index: -1;

	&:before{
		content: '';
		width: 100%;
		height: 100%;
		background: rgba(black,0.7);
		display: inline-block;
	}
}
.title-po-ex{
	position: relative;
	color: #fff;
	font-weight: 700;
	font-size: 70px;
	text-shadow: 3px 3px 2px #191919;
	text-align: left;
	vertical-align: middle;
	display: table-cell;
}
.content-po-ex{
	width: 990px;
	margin: 50px auto 0 auto;
	font-family: 'Open Sans', sans-serif;
	p{
		font-size: 20px;
		margin-top: 15px;
		text-align: justify;
	}
}
.topics{
	color: $color-logo;
	font-size: 38px;
	margin-top: 30px;
}
.link-po-ex{
	color: $color-logo;
	border-bottom: 1px solid;

	&:active{
		background: $color-logo;
		color: $background-main;
	}
}
.title-features{
	text-align: center;
	font-size: 45px;
	color:$color-logo;
	margin: 65px 0 20px 0;
	font-family: 'Open Sans', sans-serif;
}
.share{
	position: relative;
	font-family: 'Open Sans', sans-serif;
	width: 800px;
	margin: 0 auto;
	height: 200px;
}
.notes{
	background: $background-main - 10;
	padding: 8px;
	font-style: italic;
	border-left: 5px solid $color-logo;
	margin: 10px 5px;
	display: block;
	color: #7B7878;
}
.notes-code{
	margin: 10px 20px;
	list-style-type: disc;
	font-style: italic;
	font-size: 18px;
	color: #828282;
}

