$color-base: #FFFAD5;
$header-color: #BD4932;
$header-border: #590E1C;
$background-menu-home: #FFFAD5;
$color-link-menu-link: #7F1637;
$color-logo: #FFFAD5;
$border-header: #590E1C;
$font-primary: 'Droid Serif';
$font-secondary: 'arial';