$color-background-header: #181818;
$background-main: #F3F3F3;
$color-logo: #ec5a4c;
$color-text-header: #d6d6d6;
$font-default: 'Open Sans', 'Arial', sans-serif;;
$post-size-title: 28px;
$font-size-default: 18px;
$color-notes: #828282;
