$main: 967px;
$backgroundMenuMain: #000000;
$backgroundFooter: #fcfcfc;
$backgroundProduct: #F1F1F1;
$linkFooter: #000;
$buyBorderColor: #CDCDCD;

*{ margin:0; padding:0;}
a{text-decoration: none;}
li{list-style: none;}
.main{
	width: $main;
	margin: 0 auto;
}

.header{
	margin-top: 20px;
}

.logo{
	display: block;
	width: 264px;
	height: 103px;
	background: url('../imagem/logo.png') no-repeat;
	float: left;
}

.nav-main{
	float: right;
	margin-top: 43px;

	li{ 
		background-color: $backgroundMenuMain;
		margin-left: 10px;
		display: inline-block;
	}
}

.link-nav-main{
	padding: 5px 30px;
	font-family: Arial;
	color: #ffffff;
	font-size: 12px;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
	display: block;
}

.slider{
	clear: both;
	width: 100%;
	padding: 25px 0;
	position: relative;
}

.wrapper{
	width: $main;
	clear: both;
	margin: 0 auto;
}

.product-sale{
	width: 220px;
	float: left;
	text-align: center;
	position: relative;
	margin: 0 29px 0 0;
	padding: 10px 0;

	&:last-child{ margin: 0; }

	&:hover{ background: $backgroundProduct; }

	&:after{
		content: '';
		position: absolute;
		right: 0;
		top: 10%;
		height: 365px;
		border-right: 1px solid #cdcdcd;
	}
}

.title-product{
	margin: 15px 0 10px 0;
	height: 70px;
	a{color: black;}
}

.stars{
	height: 20px;
	i{color: #C2C4CD;}
}

.price-info{
	color: black;
	height: 80px;
	display: inline-block;
}

.price-previous{
	font-size: 12px;
	text-decoration: line-through;
}

.first-price{
	display: block;
	margin: 5px 0 5px 0;
	font-size: 15px;
}

.second-price{
	font-size: 12px;
}

.btn-buy{
	background: #222222;
	border: none;
	padding: 8px 14px;
	margin: 0 auto;
	display: block;

	a{
		font:  bold 14px "Arial";
		text-transform: uppercase;
		color: white;
		display: block;
	}

	i{ margin-right: 7px;  }

}

.economize{
	font-size: 10px;
	border: 1px solid $buyBorderColor;
	padding: 5px;
	margin-top: 30px;
	display: inline-block;
}

.footer{
	width: 100%;
	height: 200px;
	background: url('../imagem/bg-footer.png');
	clear: both;
}
.widget{
	width: 270px;
	float: left;
	margin: 50px 0 0 35px;

	address{
		font-family: Arial;
		color: #606262;
		font-size: 14px;
		padding: 13px 0 0 11px;
		float: left;
	}

	strong{
		display: block;
		font-family: Arial;
		color:  #000000;
		font-size: 14px;
		font-weight: 700;
		letter-spacing: -0.28px;
		line-height: 24.01px;
	}
}

.city-info{
	display: block;
}

.icon-city{
	display: block;
	width: 49px;
	height: 40px;
	float: left;
}

.icon-rj{
	background: url('../imagem/icon-rj.png') no-repeat;
}

.icon-sp{
	background: url('../imagem/icon-sp.png') no-repeat;
}

.tel-city{
	margin-top: 3px;
}

.number-city{
	text-transform: uppercase;
	font-style: normal;
	font-size: 14px;
}

.contact{
	margin-left: 80px;
	@extend .widget;
}

.contact-btn-info{
	margin-top: 3px;
	display: block;
	border: none;
	background: none;
	&:first-child{ margin: 0;}
}
