<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <header class="header-post-external">
    	<div class="align-po-ex">
    		<h1 class="title-po-ex">{{ page.title }}</h1>
    	</div>
    	<div style="background-image: url('{{ page.img }}');" class="image-po-ex"></div>
    </header>

    <article class="content-po-ex">
    	{{ content }}
    </article>

    <section class="share">
    	<h2 class="title-features">Compartilhe</h2>
            <li>
                <a href="#"><i class="twitter fa fa-twitter fa-2x"></i></a>
            </li>
            <li>
                <a href="#"><i class="facebook fa fa-facebook fa-2x"></i></a>
            </li>
            <li>
                <a href="#"><i class="google-plus fa fa-google-plus fa-2x"></i></a>
            </li>
    </section>

    <section class="align-po-ex comments">
    	<h2 class="title-features">Deixe seu comentário</h2>
        {% include comments.html %}
    </section>
   </body>
</html>
