<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <header class="header-post-external">
      <div class="bar">
        <a href="/"><i class="fa fa-arrow-circle-left fa-4x"></i></a>
      </div>
        <div class="align-po-ex">
    		  <h1 class="title-po-ex">{{ page.title }}</h1>
    	  </div>
    	  <div style="background-image: url('{{ page.img }}');" class="image-po-ex"></div>
    </header>

    <article class="content-po-ex">
    	{{ content }}
    </article>

    {% include share.html %}
   
    <div class="center">
        <section class="comments">
            <h2 class="title-features">O que achou ?</h2>
            {% include comments.html %}
        </section>
    </div>
   </body>
</html>

